/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@charset "utf-8";
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
  src: url(./NanumGothic-Regular.eot);
  src: url(./NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(./NanumGothic-Regular.woff2) format('woff2'),
       url(./NanumGothic-Regular.woff) format('woff'),
       /*url(./NanumGothic-Regular.ttf) format('truetype');*/
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: bold;
  src: url(./NanumGothic-Bold.eot);
  src: url(./NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(./NanumGothic-Bold.woff2) format('woff2'),
       url(./NanumGothic-Bold.woff) format('woff'),
       /*url(./NanumGothic-Bold.ttf) format('truetype');*/
}
